@use 'variables' as *;


@mixin set-font($size: 1em, $line-height: normal, $font: $paragraph-font) {
    font-family: $font;
    font-size: $size;
    line-height: $line-height;
}

@mixin uppercase($color: $paragraph-color) {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
  }

@mixin on-event {
    &:hover,
    &:active {
        color: $tertiary; //We would like to use math to reduce color of hover.
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
    }
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

html {
    width: 100%;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $background;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

h1, h2, h3, h4 {
    font-family: $heading-font;
    font-size: 2rem;
    color: $lt-purple;
}

p, a {
    font-family: $paragraph-font;
}

img {
    max-width: 100%;
}

.main > *:not(footer), #zen-summary, #zen-preamble {
    padding: 0 40px;
}

.sidebar {
    background-color: $secondary;
    padding: 20px;
    border-radius: 8px 0 0 8px;
}

:is(.sidebar[role=complementary], .select, .archives, .resources) {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: $lt-purple;
}

@mixin link {
    @include on-event;
}

a, a:visited {
    @include link;
    color: $lt-purple;
    text-decoration: none;
    // font-size: clamp(1em, 1.5vw, 2rem);
}

abbr {
    text-decoration: none;
}

.design-name {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: $lt-purple;
}

:is(.designer-name, nav[role=navigation]) {
    font-size: clamp(.75rem, 1vw, 1rem);
    color: $lt-purple;
}

.design-name::after {
    content: "\a";
    white-space: pre;
}

// This locks the sidebar to the right side of the screen, but
// locks the height of the sidebar as well.
// aside.sidebar {
//     position: absolute;
//     top: 10px;
//     right: 0;
//     overflow: auto;
// }

:is(#zen-summary a, #zen-participation a) {
    font-style: italic;
    transition: all 50ms ease-in;
    // transform: scale(.7);
    color: $primary2;
}

:is(#zen-summary a:hover, #zen-participation a:hover) {
    font-size: 1.15em;
}

// Unneeded CSS - Clean Up

// :root {
//     --heading-font: 'Roboto', serif;
//     --paragraph-font: 'Asap', sans-serif;
//     --primary:#446461;
//     --secondary:#2F3E46;
//     --tertiary:#B9B59F;
//     --accent1:#BF9F4C;
//     --accent2:#6F634D;
//     --background: #eee;
//     --paragraph-color: #101517;
//     --paragraph-color2: var(--background);
// }

// section.intro {
//     padding: 10px 40px;
// }

// nav[role=navigation] {
//     font-size: clamp(.6em, 1vw, 1.5rem);
//     color: $lt-purple;
// }