@use 'variables' as *;


@mixin set-font($size: 1em, $line-height: normal, $font: $paragraph-font) {
    font-family: $font;
    font-size: $size;
    line-height: $line-height;
}

@mixin uppercase($color: $paragraph-color) {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
  }

@mixin on-event {
    &:hover,
    &:active {
        color: $tertiary; //We would like to use math to reduce color of hover.
    }
}

:root {
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Asap', sans-serif;
    --primary:#446461;
    --secondary:#2F3E46;
    --tertiary:#B9B59F;
    --accent1:#BF9F4C;
    --accent2:#6F634D;
    --background: #eee;
    --paragraph-color: #101517;
    --paragraph-color2: var(--background);
}

html {
    width: 100%;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 20px;
    background-color: $background;
}

h1, h2, h3, h4 {
    font-family: $heading-font;
}

p, a {
    font-family: $paragraph-font;
}

img {
    max-width: 100%;
}

@mixin link {
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    @include on-event;
}

a, a:visited {
    @include link;
    color: $accent1;
}