@use 'variables' as *;
@use 'atom';
  
header[role=banner] {
  background-image: url('../images/fab5-lightning-sm.gif');
  background-repeat: no-repeat;
  background-position: center;
  padding: 2em 0;
    :is(h1, h2) {
      font-size: 2.5em;
      font-weight: 900;
      line-height: 3.6rem;
      margin: 20px 0 0;
      background-image: $gradient;
      background-clip: text;
      color: transparent;
      background-size: 400%;
      animation: bg-animation 1.5s infinite alternate;
    }
  }

  @media screen and (max-width: 600px) {
    
    div.page-wrapper {
      display: block;
      // grid-gap: 1em;
      // grid-template-columns: 1fr;
      // grid-template-rows: auto;
      margin: 0 auto;
    }

    div > section.intro {
      display: block;
    }

    div.supporting {
      display: block;
    }

    h3, p {
      font-size: 1.2em;
      margin: 20px 2vw;
      line-height: 1.5em;
    }
    
    :is(a.designer-name, nav[role="navigation"]) {
      font-size: .8em;
    }

  }