@use 'variables' as *;
@use 'atom';

header {
    > h1 {
      //@include atom.uppercase($background);
    }
  }

  header[role=banner] {
    background-image: url('../images/fab5-lightning-sm.gif');
    background-repeat: no-repeat;
    background-position: center;
    // border: 5px solid hotpink;
}

  