$heading-font: 'Libre Baskerville', serif;
$paragraph-font: 'Asap', sans-serif;
$primary:#446461;
$secondary:#2F3E46;
$tertiary:#B9B59F;
$accent1:#BF9F4C;
$accent2:#6F634D;
$background: #eee;
$paragraph-color: #1a1320;
$paragraph-color2: $background;