@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,600&family=Roboto:wght@400;700&display=swap');

$heading-font: 'Roboto', serif;
$paragraph-font: 'Asap', sans-serif;
$primary:#461257;
$primary2: #a47bb1;
$primary3: #422a70;
// $secondary:#211538;
$secondary: #382858;
$tertiary:#c6b7e4;
$white: #ebebeb;
// $background: #333333;
$background: #0b0713;
$paragraph-color: $white;
$paragraph-color2: $white;
$img-path: "../images/";
// Gradient
$gradient: linear-gradient(
    45deg,
    #7853be,
    #8361c4,
    #8e6fc9,
    #997ece,
    #a48cd4,
    #b09ad9,
    #bba8df,
    #c6b7e4,
    #d1c5e9,
    #ddd3ef,
    #e8e1f4,
    #f3f0f9,
);

*,
*::before,
*::after {
    box-sizing: border-box;
}