@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,600&family=Roboto:wght@400;700&display=swap');

$heading-font: 'Roboto', serif;
$paragraph-font: 'Asap', sans-serif;
$primary:#446461;
$secondary:#2F3E46;
$tertiary:#B9B59F;
$accent1:#BF9F4C;
$accent2:#6F634D;
$white: #efefef;
$background: #000000;
$paragraph-color:#fff;
$paragraph-color2: $background;
$img-path: "../images/";