@use "variables" as *;
@use 'atom';
@use 'molecules';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

:root {
    --heading-font: 'Libre Baskerville', serif;
    --paragraph-font: 'Asap', sans-serif;
    --primary:#446461;
    --secondary:#2F3E46;
    --tertiary:#B9B59F;
    --accent1:#BF9F4C;
    --accent2:#6F634D;
    --background: #eee;
    --paragraph-color: #101517;
    --paragraph-color2: var(--background);
}

.page-wrapper {
    display: grid;
    // grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
}

div section.intro {
    // display: grid;
    grid-column: 1 / 6;
    // background-image: ;
}

div section header {
    background-image: url('images/lightning-cropped.jpg');
}

aside.sidebar {
    grid-column: 4;
}

// header {
//     grid-column: 1 / 6;
// }

main, header, footer {
    padding: 1.5em;
}

main {
    background-color: var(--background);
    max-width: 1100px;
    margin: 0 auto;
}

header, footer {
    background-color: var(--secondary);
    text-align: center;
}

header p, header h1, header h2, footer p, footer h2 {
    color: var(--paragraph-color2);
}

main p, main h1, main h2 {
    color: var(--paragraph-color);
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: .5em;
}

th {
    background-color: var(--secondary);
    color: var(--background)
}

td {
    font-family: var(--paragraph-font);
}

#primary {background-color: var(--primary);}
#secondary {background-color: var(--secondary);color:var(--background);}
#tertiary {background-color: var(--tertiary);}
#accent-1 {background-color: var(--accent1);}
#accent-2 {background-color: var(--accent2);}

#p-typography {
    font-family: var(--paragraph-font);
}
#h-typography {
    font-family: var(--heading-font);
}