@use "variables" as *;
@use 'atom';
@use 'molecules';

.page-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "hero hero hero hero hero"
    "side-bar1 ct-area1 ct-area1 ct-area1 side-bar2"
    "side-bar1 ct-area2 ct-area2 ct-area2 side-bar2"
    "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto;
    margin: 0 auto;
}

section.intro {
    grid-area: hero;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 5px solid red;
}

#zen-intro > header {
    flex-grow: 1;

}

section.intro > div {
    justify-content: center;
    
    padding: 10px 40px;
    border: 5px solid yellowgreen;
}

#zen-summary {
    align-self: flex-end;
}

// div[role=article] {
//     flex-grow: 1;
//     border: 5px solid yellowgreen;
// }

// #zen-summary {
//     grid-area: ct-area1;
// }

.main {
    grid-area: ct-area2;
}

div > footer {
    display: flex;
    grid-gap: 1em;
    grid-area: footer;
}

aside[role=complementary] {
    grid-area: side-bar2;
}

// div[role=article] {
//     display: grid;
//     grid-area: ct-area2;
//     color: black;
//     display: grid;
//     width: 50px;
// }

// .preamble {
//     grid-area: ct-area5;  
// }

// #design-selection {
//     grid-area: ct-area3;
// }

// #zen-explanation {
//     grid-area: ct-area1;
// }

// aside.sidebar {
//     grid-column: 4;
//     grid-row: 2/4;
// }

// header {
//     grid-column: 1 / 6;
// }

main, header, footer {
    padding: 1.5em;
}

main {
    background-color: var(--background);
    max-width: 1100px;
    margin: 0 auto;
}

header, footer {
    background-color: #000000;
    text-align: center;
}

header p, header h1, header h2, footer p, footer h2 {
    color: var(--paragraph-color2);
}

main p, main h1, main h2 {
    color: var(--paragraph-color);
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: .5em;
}

th {
    background-color: var(--secondary);
    color: var(--background)
}

td {
    font-family: var(--paragraph-font);
}

#primary {background-color: var(--primary);}
#secondary {background-color: var(--secondary);color:var(--background);}
#tertiary {background-color: var(--tertiary);}
#accent-1 {background-color: var(--accent1);}
#accent-2 {background-color: var(--accent2);}

#p-typography {
    font-family: var(--paragraph-font);
}
#h-typography {
    font-family: var(--heading-font);
}