@use "variables" as *;
@use 'atom';
@use 'molecules';

.page-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "hero hero hero hero hero"
    "ct-area1 ct-area1 ct-area1 ct-area1 . "
    "ct-area2 ct-area2 ct-area2 ct-area2 . "
    "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    margin: 0 auto;
}

section.intro {
    grid-area: hero;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "hero hero hero hero hero"
    "ca1 ca1 ca1 ca1 side-bar2"
    "ca2 ca2 ca2 ca2 .";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto; 
}

header {
    grid-area: hero;
}

#zen-summary {
    grid-area: ca1; 
}

#zen-preamble {
    grid-area: ca2;
}

#zen-summary, #zen-preamble {
    max-width: 800px;
    justify-self: center;
}

div.supporting {
    max-width: 800px;
    justify-self: center;
}

section.intro > div {
    justify-content: center;
    // border: 5px solid yellowgreen;
}

.main {
    // border: 5px dotted hotpink;
    display: grid;
    // grid-column: 1 / 6;
    grid-template-areas: 
    "explain explain explain explain ."
    "participate participate participate participate ."
    "benefits benefits benefits benefits ."
    "require require require require ."
    "end end end end end";
    grid-area: ct-area1;
    padding: 0 10px;
}

#zen-explanation {
    grid-area: explain;
}

#zen-participation {
    grid-area: participate;
}

#zen-benefits {
    grid-area: benefits;
}

#zen-requirements {
    grid-area: require;
}

aside[role=complementary] {
    // grid-area: hero;
    grid-row: 1 / 3;
    // align-self: center;
    margin-top: 250px;
    height: fit-content;
    grid-column: 5;
}

footer {
    border: 5px dotted hotpink;
    display: flex;
    gap: 1em;
    justify-content: center;
    grid-area: end;
    // position: relative;
    // transform: translateY(10%);
    // overflow: hidden;
}

:is(main, footer) {
    padding: 1.5em;
}

main {
    background-color: $background;
    max-width: 1100px;
    margin: 0 auto;
}

header, footer {
    background-color: $secondary;
    text-align: center;
}

header {
    background-color: $background;
}

header p, header h1, header h2, footer p, footer h2 {
    color: $white;
}

.main p, .main h2, .intro p {
    color: $white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin: 0;
}

//Unused or unneeded CSS: 

// div[role=article] {
//     display: grid;
//     grid-area: ct-area2;
//     color: black;
//     display: grid;
//     width: 50px;
// }

// .preamble {
//     grid-area: ct-area5;  
// }

// #design-selection {
//     grid-area: ct-area3;
// }

// #zen-explanation {
//     grid-area: ct-area1;
// }

// aside.sidebar {
//     grid-column: 4;
//     grid-row: 2/4;
// }

// header {
//     grid-column: 1 / 6;
// }

// section.intro {
//     grid-area: hero;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     border: 5px solid red;
// }

// h3 {
//     color: $primary2;
// }

// #zen-summary {
//     align-self: flex-start;
// }
